# Auto detect text files and perform LF normalization
* text=auto

# PowerShell scripts should always use LF
*.ps1 text eol=lf

# JSON files should use LF
*.json text eol=lf

# Markdown files should use LF
*.md text eol=lf

